<div class="wrapper" style="margin-top:100px">
  <div class="container" >
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4 text-center">
        <form action="/answer/">
          <div class="form-group center-block">
            <label for="question" style="font-size: 20px">Speak to your coach</label>
            <input type="text" id="question" class="form-control" name="query" placeholder="Is it the rebook or the nike?">
          </div>
          <input type="submit" class="btn btn-primary" value="Go on!">
        </form>
      </div>
    </div>
  </div>
</div>


